
  body{
    background-color: bisque;
  }
  
  h1 {
    text-align: center;
  }
  
  #hikes-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 5px solid black;
  }

  
    
  
