
  body{
    background-color: bisque;
  }
  
  h1 {
    text-align: center;
  }
  
  #hikes-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 5px solid black;
  }

  #displaySubmission {
    border: 2px solid black; /* Black border */
    background-color: white; /* White background */
    padding: 200px; /* Add some padding for spacing */
    margin-top: 20px; /* Add some margin from the top */
    text-align: left;
  }
  
    
  
